<?xml version="1.0"?>

<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0.3" />
    <globalization
         fileEncoding="utf-8"
         requestEncoding="utf-8"
         responseEncoding="utf-8"
         culture="es-ES"
         uiCulture="es-ES"
        />
  </system.web>
  <system.webServer>
    <staticContent>      
    </staticContent>      
  </system.webServer>
</configuration>