<h4 class="ty">Información TURC</h4>
  <span class="ph dh"><span class="dy dh">{{ Ficha_TURC.Circularidad }}</span>Circularidad</span>
  <span class="ph dh"><span class="dy dh">{{ Ficha_TURC.Convexidad }}</span>Convexidad</span>
  <span class="ph dh"><span class="dy dh">{{ Ficha_TURC.Elongacion }}</span>Elongacion</span>
  <span class="ph dh"><span class="dy dh">{{ Ficha_TURC.Evapotranspiracion }}</span>Evapotranspiracion</span>
  <span class="ph dh"><span class="dy dh">{{ Ficha_TURC.TipoVerano }}</span>TipoVerano</span>
  <span class="ph dh"><span class="dy dh">{{ Ficha_TURC.TemperaturaMediaDeLasMaximasDelMesMasCalido }}</span>TemperaturaMediaDeLasMaximasDelMesMasCalido</span>
  <span class="ph dh"><span class="dy dh">{{ Ficha_TURC.TemperaturaMediaDeLasMinimasDelMesMasFrio }}</span>TemperaturaMediaDeLasMinimasDelMesMasFrio</span>
  <span class="ph dh"><span class="dy dh">{{ Ficha_TURC.TemperaturaMediaAnual }}</span>TemperaturaMediaAnual</span>        
  <span class="ph dh"><span class="dy dh">{{ Ficha_TURC.ClasificacionClimatica }}</span>ClasificacionClimatica</span>        
  <span class="ph dh"><span class="dy dh">{{ Ficha_TURC.TiposDeInviernoDeLaClasificacionClimatica }}</span>TiposDeInviernoDeLaClasificacionClimatica</span>
  <span class="ph dh"><span class="dy dh">{{ Ficha_TURC.Pluviometria }}</span>Pluviometria</span>
  <span class="ph dh"><span class="dy dh">{{ Ficha_TURC.IndiceDeAridez }}</span>IndiceDeAridez</span>        
  <span class="ph dh"><span class="dy dh">{{ Ficha_TURC.PotencialAgricolaDeSecano }}</span>PotencialAgricolaDeSecano</span>
  <span class="ph dh"><span class="dy dh">{{ Ficha_TURC.RegimenDeHumedad }}</span>RegimenDeHumedad</span>
  <span class="ph dh"><span class="dy dh">{{ Ficha_TURC.RegimenTermico }}</span>RegimenTermico</span>        
  <span class="ph dh"><span class="dy dh">{{ Ficha_TURC.PluviometriaMediaAnual }}</span>PluviometriaMediaAnual</span>
  <span class="ph dh"><span class="dy dh">{{ Ficha_TURC.DuracionMediaDelPeriodoSeco }}</span>DuracionMediaDelPeriodoSeco</span>
  <span class="ph dh"><span class="dy dh">{{ Ficha_TURC.DuracionMediaDelPeriodoFrio }}</span>DuracionMediaDelPeriodoFrio</span>
  <span class="ph dh"><span class="dy dh">{{ Ficha_TURC.DuracionMediaDelPeriodoCalido }}</span>DuracionMediaDelPeriodoCalido</span>